@font-face {
    font-family: 'Digital';
        src: url('../fonts/Digital.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

#timepieceTemplate {
    display: none;
}
.timepieceName {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
}
.time {
  color: #428bca;
  font-family: "Digital";
  font-size: 40px;
}
.time .deciseconds {
  font-size: 70%;
}
